<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gking.simplemusicplayer">
    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 读取您的 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".impl.MyApplicationImpl"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.EmptyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ChoosePlaylistActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.SongActivity"
            android:launchMode="singleInstance"/>

        <service
            android:name=".service.SongService"
            android:launchMode="singleInstance" />

        <activity android:name=".activity.PlaylistActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginCellphoneActivity" />
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" />
    </application>

</manifest>