<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gking.simplemusicplayer">
    <!-- 修改或删除您的 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- 读取您的 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="com.gking.simplemusicplayer.impl.MyApplicationImpl"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false">
        <service android:name=".PlayingService"/>
        <service android:name=".ServiceA"/>
        <activity android:name="com.gking.simplemusicplayer.Receiver">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <activity android:name=".Search"/>
        <activity android:name="com.gking.simplemusicplayer.MainActivity"/>
        <activity
            android:name="com.gking.simplemusicplayer.Launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".About"/>
        <activity android:name="com.gking.simplemusicplayer.MySettings">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.OPENABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreateNewList"/>
        <activity android:name=".AddToList" />

        <receiver
            android:name=".MyBroadcastRecever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gkingswq.simplemusicplayer.loop"/>
                <action android:name="com.gkingswq.simplemusicplayer.stopservice"/>
                <action android:name="com.gking.simplemusicplayer.pause"/>
                <action android:name="com.gking.simplemusicplayer.next"/>
                <action android:name="com.gking.simplemusicplayer.last"/>
                <action android:name="com.gkingswq.simplemusicplayer.window"/>
            </intent-filter>
        </receiver>
        <service android:name=".MiniWindow"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>
    </application>
</manifest>
